@{
  Layout="Shared/_Layout.cshtml";
}

<h1>You've added a new contact!</h1>
<ul>

    <h1>@Model.GetFirstName()</h1>
    <h1>@Model.GetLasttName()</h1>
    <h3>@Model.GetPhonNumber()</h3>
    <h3>@Model.GetAddress()</h3>

    <p><a href="/">View all Contacts</a></p>

  </ul>
<p><a href="/">View Contacts</a></p>
