@{
  Layout="Shared/_Layout.cshtml";
}

<h1>You've added a new contact!</h1>

    <h2>First Name: @Model.GetFirstName()</h2>
    <h2>Last Name: @Model.GetLastName()</h2>
    <h3>Phone number: @Model.GetPhoneNumber()</h3>
    <h3>Address: @Model.GetAddress()</h3>

  <br>
   <p><a href="/">View all Contacts</a></p>
