@{
  Layout="Shared/_Layout.cshtml";
}

<h1>You've added a new contact!</h1>
<form method="post">
  <label for="new-contact">Contact detail:</label>
  <input id="new-contact" name="new-contact" type="text">
</form>
